@import './global.less';
// Button
.ant-btn {
  // height: 36px;
  padding-left: 20px;
  padding-right: 20px;
}
.operactor-link-btn > .ant-btn {
  padding-left: 5px;
  padding-right: 5px;
}

// alert
.ant-alert-info {
  border-color: #91d5ff;
  background-color: #e6f7ff;
}

// ant-tabs
.ant-tabs {
  height: 100%;
}
.ant-tabs-top > .ant-tabs-nav {
  height: 56px;
  margin: 0;
  padding: 0 15px;
}
.ant-tabs-content {
  height: 100%;
}
.ant-tabs-tabpane {
  height: 100%;
}
.ant-tabs-large > .ant-tabs-nav .ant-tabs-tab {
  padding: 16px 15px;
  margin-right: 27px;
  font-size: 14px;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: @dkb-theme-color;
}
.ant-tabs-tab:hover {
  color: @dkb-theme-color;
}
.ant-tabs-ink-bar {
  background-color: @dkb-theme-color;
}

.ant-btn-dangerous.ant-btn-primary {
  background-color: #ff4949;
  border-color: #ff4949;
}

// table
.ant-table.ant-table-middle .ant-table-tbody > tr > td {
  padding: 16px 8px;
}
.ant-table-thead {
  & > tr {
    & > th {
      border-top: 1px solid #f0f0f0;
    }
  }
}
.ant-table .ant-table-tbody > tr > td:first-child {
  padding-left: 25px;
}
.ant-table .ant-table-thead > tr > th:first-child {
  padding-left: 25px;
}

// form
.ant-form-item-label > label::after {
  margin: 0 10px 0 2px;
}

// textarea
.ant-form-item textarea.ant-input {
  height: 72px;
  resize: none;
}

// tooltip
.ant-tooltip-inner {
  color: @primary-color;
}

.btn-list-style { // 列表页
  // height: 36px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-list-style + .btn-list-style {
  margin-left: 10px;
}

// modal
.ant-modal-body {
  padding: 30px 24px;
}

.btn-modal-style { // 详情页/对话框
  padding-left: 30px;
  padding-right: 30px;
}

.btn-modal-style + .btn-modal-style {
  margin-left: 15px;
}

.input-height {
  // height: 36px;
}

.input-width {
  width: 440px;
}

.ant-input-number-input-wrap {
  height: 100%;
  & > input {
    height: 100%;
  }
}

.ant-input-number {
  height: 32px;
}

.ant-checkbox-inner {
  border-color: #D9D9D9!important;
}

.ant-popover-inner-content {
  padding: 12px 16px;
  button {
    height: 22px;
    padding: 0 7px;
  }
}

