.add-level {
  overflow: auto;
  .free-ship-input + .ant-input-group-wrapper {
    .ant-input {
      border-right: none;
    }
  }
  .ant-form {
    .ant-form-btns {
      position: absolute;
      width: 100%;
      bottom: -54px;
    }
  }
  // .free-ship-input .ant-input-number {
  //   height: 36px;
  // }
  // .ant-input-wrapper.ant-input-group {
  //   height: 36px;
  //   .ant-input {
  //     height: 36px;
  //   }
  // }
}